.button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  width: var(--button-width);
  margin-right: auto;
  margin-left: auto;
}

.button:disabled {
  opacity: 0.5;
}

.button span.button__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button span.button__detail {
  display: block;
  font-style: italic;
  font-size: 0.8rem;
}

.button__icon {
  object-fit: contain;
  width: var(--icon-width);
  user-select: none;
  -webkit-user-drag: none;
}

.button--cooling-down {
  cursor: wait;
}
