.buttons-container {
  width: var(--default-container-width);
  margin-left: 0;
  margin-right: auto;
  margin-top: 48px;
}
.buttons-container--actions {
  grid-area: actions;
}
.buttons-container--upgrades {
  grid-area: upgrades;
}

.buttons-box {
  display: inline-grid;
  width: 100%;
  height: var(--buttons-height);
  grid-template-columns: repeat(2, 50%);
  margin-left: 0;
  margin-right: auto;
  overflow-y: scroll;
}

@media only screen and (min-width: 400px) {
  .buttons-box {
    height: unset;
    overflow-y: scroll;
  }
}

.buttons-container h2 {
  grid-column: span 2;
}
