.buttons-container {
  width: var(--default-container-width);
  grid-area: buttons;
  margin-left: 0;
  margin-right: auto;
}

.buttons-box {
  display: inline-grid;
  width: 100%;
  height: var(--buttons-height);
  grid-template-columns: repeat(2, 50%);
  margin-left: 0;
  margin-right: auto;
  overflow-y: scroll;
}

@media only screen and (min-width: 400px) {
  .buttons-box {
    height: unset;
    overflow-y: scroll;
  }
}

.buttons-container h2 {
  grid-column: span 2;
}
