.game {
  display: grid;
  grid-template-columns: min-content;
  grid-gap: var(--gap);
  grid-template-areas:
    "resources"
    "buttons";
  align-items: start;
}

@media only screen and (min-width: 768px) {
  .game {
    grid-template-areas: "resources buttons";
    grid-template-columns: repeat(2, min-content);
  }
}

.game-data-container {
  position: fixed;
  top: 24px;
  right: 24px;
}
