.game {
  display: grid;
  grid-template-columns: min-content;
  grid-gap: var(--gap);
  grid-template-areas:
    "resources"
    "actions"
    "upgrades";
  align-items: start;
}

@media only screen and (min-width: 768px) {
  .game {
    grid-template-columns: repeat(2, min-content);
    grid-template-areas: "resources actions" "upgrades actions";
  }
}

@media only screen and (min-width: 1280px) {
  .game {
    grid-template-columns: repeat(3, min-content);
    grid-template-areas: "resources actions upgrades";
  }
}

.game-data-container {
  position: fixed;
  top: 24px;
  right: 24px;
}

.save-message {
  position: absolute;
  color: var(--accent-color);
  right: 0;
  margin: 0;
}
