.logs-box {
  grid-area: logs;
  background-color: #1a1a1a;
  color: var(--accent-color);
  grid-column: span 2;
  height: 160px;
  overflow-y: scroll;
  text-align: left;
  margin-bottom: var(--gap);
  border-radius: 8px;
}

.log {
  margin: 8px;
}

.log:first-child {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: bolder;
  font-size: 1.2rem;
  animation: enter-log 0.5s;
}

.log span {
  display: block;
}

@keyframes enter-log {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
  }
}
