.logs-box {
  grid-area: logs;
  background-color: #1a1a1a;
  color: var(--accent-color);
  width: var(--default-container-width);
  height: 600px;
  overflow-y: scroll;
  text-align: left;
}

.log {
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
