.modal-content {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.modal--centered {
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 400px) {
  .modal-content {
    justify-content: center;
  }
}

span.hot {
  color: var(--hot-color);
}

span.warn {
  color: var(--warn-color);
}

span.eco {
  color: var(--accent-color);
}

.close-button {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-size: 2rem;
  width: max-content;
  padding: 20px min(5%, 100px);
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}
.close-button--multiple {
  width: min(360px, 100%);
  margin: auto;
  margin-bottom: var(--gap);
}
.close-button:hover {
  background-color: var(--bg-color);
  color: var(--accent-color);
}
.close-button span.button-detail {
  display: block;
  font-style: italic;
  font-size: 0.8rem;
  color: var(--bg-color-2);
  transition: color 0.5s;
}
.close-button span.button-detail:not(:first-child) {
  margin-top: 16px;
}
.close-button:hover span.button-detail {
  color: var(--accent-color);
}

.button-row {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}

@media only screen and (min-width: 800px) {
  .close-button--multiple:first-child {
    margin-right: var(--gap);
  }

  .button-row {
    flex-direction: row;
  }
}
