.modal-content {
  display: inline-flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

span.hot {
  color: var(--hot-color);
}

span.warn {
  color: var(--warn-color);
}

span.eco {
  color: var(--accent-color);
}

.close-button {
  background-color: var(--accent-color);
  color: var(--bg-color);
}
