.resources-container {
  width: var(--default-container-width);
  grid-area: resources;
}

.resources-grid {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 4px;
  row-gap: 0;
}

.resources-grid p {
  margin: 0;
}

.ppm-display {
  color: var(--warn-color);
  font-weight: bolder;
}

.resource.ppm {
  color: var(--warn-color);
}

.time-display {
  grid-column: span 3;
  justify-self: center;
}

.icons-box {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.icons-box img {
  width: 100%;
  image-rendering: auto;
}

.great-mood {
  color: var(--green-color);
}

.tired-mood {
  color: var(--warn-color);
}

.real-tired-mood {
  color: var(--hot-color);
}
