.resources-container {
  width: var(--default-container-width);
  grid-area: resources;
}

.resources-grid {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 4px;
  row-gap: 0;
}

.resources-grid p {
  margin: 0;
}

.ppm-display {
  color: var(--warn-color);
  font-weight: bolder;
}

.time-display {
  grid-column: span 3;
  justify-self: center;
}

.icons-box {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.icons-box img {
  width: 100%;
  image-rendering: auto;
  animation: enter-icon 1s;
}

@keyframes enter-icon {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 100%;
    transform: scale(1);
  }
}

.great-mood {
  color: var(--green-color);
}

.tired-mood {
  color: var(--warn-color);
}

.real-tired-mood {
  color: var(--hot-color);
}

.mood-message {
  animation: 1s fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
